.coin_container{
    display: flex;
    justify-content: center;
    height: 75vh;
    margin-top: 80px;
    background-color: #101012;
}
.coin_desc{
    border-radius: 10px;
    line-height: 170%;
    border:solid;
    height: 550px;
    border-color: white;
    padding: 30px;
    align-items: center;
    margin-left: 30px;
    font-size: 1.2em;
}

.coin_title{
    font-size: 3em;
}

.coin_chart{
    border: white;
}

.chart_button_section{
    margin-top: 10px;
}

.chart_button{
    border:solid 1px;
    border-radius: 5px;
    color: black;
    padding: 3px 30px;
    margin:10px;
    background-color: #6c915e;
}